<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let item of data
          | paginate
            : {
                itemsPerPage: pageSize,
                currentPage: currentPage,
                totalItems: totalItems
              }
      "
    >
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.age }}</td>
    </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
<div class="card-container">
  <div
    *ngFor="
      let item of data
        | paginate
          : {
              itemsPerPage: pageSize,
              currentPage: currentPage,
              totalItems: totalItems
            }
    "
    class="card"
  >
    <div class="card-header">
      <h2>{{ item.name }}</h2>
    </div>
    <div class="card-content">
      <p>ID: {{ item.id }}</p>
      <p>Age: {{ item.age }}</p>
    </div>
  </div>
</div>
